<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" type='text/css' href="/rating-website/style.css">

    <title>Game Main Page Template</title>


</head>
<body>

<!--Part 1 Nav Bar-->
<nav class="navbar navbar-expand-lg theme-pink-bg">
    <a class="navbar-brand text-white" href="/rating-website">Game Rating</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            <li>

            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Games <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Ranking</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">Comment</a>
            </li>

            <li class="nav-item ml-5">
                <a class="nav-link text-white" href="#"><i class="fas fa-user"></i></a>
            </li>
        </ul>

    </div>
</nav>


<!--Part 2 Search Div-->

<div class="container d-flex justify-content-center" style="height: 10rem;">
    <form class="form-inline my-2 my-lg-0" >
        {#<input class="form-control rounded-0 border border-white" type="search" placeholder="Search..." aria-label="Search">#}

        <select name="game_name" id="game_name" class="form-control rounded-0 border border-white">
            <option value="">Choose a game for details</option>
            <option value="1">Far Cry 5</option>
            <option value="2">GTA 5</option>
            <option value="3">Witcher 3</option>
            <option value="4">Starcraft 2</option>
        </select>
        <button class="btn my-2 my-sm-0 text-white rounded-0 theme-pink-bg" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>


<!--Part 3 Banner-->

<div class="container-fluid p-0 position-relative">
    <img src="https://img.game.co.uk/hub/images/farcry5/FARCRY5-DTP-BANNER.jpg" class="w-100" alt="">

    <div class="position-absolute" style="left: 5rem; bottom: 3rem;">
        <h2 class="text-white">Far Cry 5</h2>
        <p class="text-light mb-4">
            <span class="">FPS</span> | <span> 2018</span>
        </p>
        <button class="btn theme-pink-bg text-white">VIEW INFO</button>
    </div>

    <div class="position-absolute border border-secondary p-2 rounded" style="right: 5rem; bottom: 2rem;">
        <p>
            <span class="text-white">Rating</span>
            <small class="text-secondary" >based on 2000 views</small>
        </p>
        <p class="text-white">Score 4.8/5</p>
    </div>
</div>

<!--Part 4 Movie List-->

<div class="container-fluid">
    <!--Part 4.1: Category Menu-->
    <div class="row my-3 mx-4 cate-menu">
        <div class="col-12" >
            <div class="container-fluid">
                <div class="row text-secondary" style="border-bottom: 1px solid #ccc; line-height: 2.4rem">

                    {% for id,name in categories %}
                    <div class="col-1 p-0 {% if c_id==id %} active {% endif %}">
                        <a href="/rating-website/genre/get/{{ id }}">{{ name }}</a>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--Part 4.2: List-->
    <div class="row mx-4 px-4">
        {% for movie in movies %}
            <div class="col-4 col-md-3 my-2">
                <div class="card">
                    <a href="/rating-website/movie/get/{{ movie.id }}"><img class="card-img-top w-100" style="max-height: 300px;" src="{{ movie.widget_url }}" alt="Card image cap"></a>
                    <div class="card-body">
                        <div class="float-right border border-danger rounded p-1 theme-pink-color bg-light">
                           {{ (movie.total_score/movie.score_num) | number_format(1, '.', ',') }}
                        </div>
                        <h5 class="card-title ">{{ movie.name }}</h5>
                        <small class="card-text text-secondary" >
                            {% set genres = movie.genre | split(',') %}
                            {% for ge in genres %}
                                <a class="mr-2" href="/rating-website/genre/get/{{ ge }}">{{ categories[ge] }}</a>
                            {% endfor %}

                            {#双层括号相当于echo，单括号加百分号相当一些twig支持的语句#}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

</script>
</body>
</html>

